{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <section class="game" id="game">

    <div class="wrapper">
      <img class="wrapper__card rotate" src="../static/assets/dama-karo.jpg" alt="dama-karo"/>
      <img class="wrapper__card rotate" src="../static/assets/dama-pik.jpg" alt="dama-karo"/>
      <img class="wrapper__card rotate" src="../static/assets/dama-kier.jpg" alt="dama-karo"/>
    </div>

    <div class="btns">
      <button class="btns__btn">Start</button>
      <button class="btns__btn">Reset</button>
    </div>

    <p class="content__message">
      Witaj,
      {% if current_user.is_authenticated %}
        {{ current_user.username }}.
        Twój ostatni wynik do {{ current_user.results }} % trafień
      {% else %}
        wyniki tylko
        <a href="{{ url_for('auth.login') }}" class="menu__link--message">zalogowanych</a>
        użytkowników zostaną zapamiętane
      {% endif %}
    </p>

    <div class="container">
      {{ wtf.quick_form(form) }}
    </div>

    <div class="hit">
      <p class="hit__message"></p>
    </div>

  </section>

{% endblock %}